.menu-navigation {
  position:absolute;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9C89B8;
  z-index: 950;
  transition-duration: .3s;
  opacity: 0;

  &.open {
    //display: flex;
    position: fixed;
    top: 0vh;
    opacity: 1;
    transition-duration: .3s;

    li {
      margin-right: 0px;

      &:first-child {
        opacity: 1;
        transition-delay: .2s;
        transition-duration: .2s;
      }
      &:nth-child(2){
        opacity: 1;
        transition-delay: .3s;
        transition-duration: .2s;
      }
      &:nth-child(3){
        opacity: 1;
        transition-delay: .4s;
        transition-duration: .2s;
      }
      &:nth-child(4){
        opacity: 1;
        transition-delay: .5s;
        transition-duration: .2s;
      }
      &:nth-child(5){
        opacity: 1;
        transition-delay: .6s;
        transition-duration: .2s;
      }
      &:nth-child(6){
        opacity: 1;
        transition-delay: .7s;
        transition-duration: .2s;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    opacity: 0;
    margin: 10px;
    margin-right: -40px;
  }

  a {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    color: #F0E6EF;
  }

  i {
    margin-right: 15px;
    color: #F0E6EF;
  }

}
@media (max-width: 900px){
  .menu-navigation {

    ul {
      margin-top: 70px;
    }

    a {
      font-size: 20px;
    }
  }
}
