{% extends 'layout.html.twig' %}

{% block title %}{{ category.name|capitalize }} - Idylle Beauté{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
{% endblock %}

{% block body %}
    {% include 'components/_navbar.html.twig' %}
    {% include 'components/_headerCategory.html.twig' %}
    {% include 'components/_services.html.twig' with { 'services': services } %}

    <a href="/#prestations" id="other-services">Voir les autres prestations</a>
{% endblock %}
