<section class="contact" style="background-image:url('{{ asset('static/background-contact.jpg') }}')" id="contact" >
<div class="contact-card">
    <h3 class="titre">Contact</h3>
    <ul class="join">
        <li><i class="fas fa-phone"></i><a href="tel:0649623616"  style="cursor:initial" >06 49 62 36 16</a></li>
        <li><a href="https://www.facebook.com/p/Idylle-Beauté-Esthéticienne-100045448885922/" target="_blank" rel="noreferrer"><i class="fab fa-facebook"></i> Facebook</a></li>
        <li><a href="https://www.instagram.com/idyllebeaute/" target="_blank" rel="noreferrer"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="mailto:adresse@email.com"><i class="fas fa-envelope"></i>idyllebeaute85@gmail.com</a></li>
    </ul>
    <iframe title="adresse" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1880.6852015247418!2d-1.8334328520376362!3d46.673655696264305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48045092778b5281%3A0xc7c050a38c59febc!2s21%20Rue%20Georges%20Clemenceau%2C%2085220%20L&#39;Aiguillon-sur-Vie!5e0!3m2!1sfr!2sfr!4v1637331436964!5m2!1sfr!2sfr" loading="lazy"></iframe>
    <p class="position"><i class="fas fa-map-marker-alt"></i> 21 ter Rue Georges Clemenceau, 85220, L'Aiguillon-sur-Vie</p>
    <h3>Horaire</h3>
    <ul class="horaire">
        <li>Lundi : <span>Fermé</span></li>
        <li>Mardi : <span>09h00–12h00, 14h00–18h30</span></li>
        <li>Mercredi : <span>09h00–12h00, 14h00–18h30</span></li>
        <li>Jeudi : <span>09h00–12h00, 14h00–18h30</span></li>
        <li>Vendredi : <span>09h00–12h00, 14h00–18h30</span></li>
        <li>Samedi : <span>09h00–12h00, 13h30–15h00</span></li>
        <li>Dimanche : <span>Fermé</span></li>
    </ul>
</div>
</section>
