<section class="header">
    <img class="fleur-haut" src="{{ asset('static/fleur-haut.png') }}" alt="fleur"/>
    <h1>L'aiguillon sur vie</h1>
    <img class="logo" src="{{ asset('static/logo-idyllebeaute-fonce.svg') }}" alt="logo idylle beaute"/>
    <div class="header-btn">
        <a href="/#prestations">Prestations</a>
        <a href="https://www.planity.com/idylle-beaute-85220-laiguillon-sur-vie">Prendre RDV</a>
    </div>
</section>
