<section class="menu-navigation">
    <ul>
        <li><i class="far fa-star"></i><a href="/#institut">Institut</a></li>
        <li><a href="/#produit" id="produit"><i class="far fa-star"></i>Nos produits</a></li>
        <li><a href="/#prestations" id="prestations"><i class="far fa-star"></i>Nos prestations</a></li>
        <li><a href="https://www.planity.com/idylle-beaute-85220-laiguillon-sur-vie"><i class="far fa-star"></i>Prendre rendez-vous</a></li>
        <li><a href="/#contact" id="contact"><i class="far fa-star"></i>Contact</a></li>
    </ul>
</section>
